TOKEN=MTUyMjg3MDAzNTg4MDczODgxNg.GJHmut.hWnWBwgcbLS-3Mj9-nIYbjOTnFFxmOQK3DX0nI
CLIENT_ID=1522870035880738816
SPOTIFY_CLIENT_ID=68891723072e4fbb81ec5659a4020ba0
SPOTIFY_CLIENT_SECRET=b6d0f67f95a44834981e8ab2d0c1f4b9
GUILD_ID=1522650496450428979
DJ_ROLE_ID=1522872404299219095
LEAVE_TIMEOUT_MS=300000
DEFAULT_VOLUME=70
MAX_PLAYLIST_SIZE=500
DATA_DIR=./data
YTDLP_PATH=C:\Users\Kunal\Desktop\Nexora Music\yt-dlp
FFMPEG_PATH=C:\Users\Kunal\Desktop\Nexora Music\ffmpeg-8.1.2-essentials_build\bin
REGISTER_COMMANDS=true
